{
  "DATAFOLDER" : "data",
  "WAITRESS" : {
    "PORT" : 6688,
    "HOST" : "localhost",
    "THREADS" : 6,
    "URLSCHEME" : "http",
    "IPV4" : true,
    "IPV6" : true
  },
  "ES" : {
    "URL" : "",
    "USERNAME" : "",
    "SECRET" : "",
    "UMLSURLPREFIX" : ""
  },
  "PROGRESSES" : {
    "URL" : "",
    "INDEX": "",
    "USERNAME": "",
    "SECRET": ""
  }
}