<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <title>Clinical Code Assessment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="static/favicon.png" type="image/x-png">
        <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
        <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
        <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
        <link rel="stylesheet" href="static/vue-multiselect.min.css" type="text/css">
        <link rel="stylesheet" href="static/logtail.css" type="text/css">
        <link rel="stylesheet" href="static/clinicalcodeassessment.css" type="text/css">
        <style>
            /* Thanks to https://www.w3schools.com/howto/howto_js_accordion.asp */
            .accordion-ac {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }

            .active-ac, .accordion-ac:hover {
                background-color: #ccc;
            }

            .accordion-ac:after {
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .panel-ac {
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            .span-sm {
                font-size: 10px;
                line-height: 0.0rem;
            }
        </style>
    </head>
    <body>
        <div class="container p-2" id="app">
            <div class="panel p-2" style="overflow:hidden;">
                <h2 style="margin-left: 2%; margin-top: 1%">Clinical Code Assessment</h2>
                <div class="modal active" id="user">
                    <a href="#/" class="modal-overlay" aria-label="Close" v-on:click="closeModal"></a>
                    <div class="modal-container">
                        <div class="modal-header">
                            <button class="btn btn-sm float-right" v-on:click="closeModal"><i class="icon icon-cross"></i></button>
                            <div class="modal-title h5">INPUT YOUR ASSIGNED USERNAME</div>
                        </div>
                        <div class="divider"></div>
                        <div class="modal-body">
                            <div class="content">
                                <div class="form-group">
                                    <input type="text" id="userNa" class="form-input" v-model="username" placeholder="USERNAME" v-on:keyup="closeOnKey" autofocus/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button id="modalCloseBtn" class="btn btn-primary" v-on:click="closeModal">START</button>
                    </div>
                  </div>
                </div>
            </div>
            <div v-if="init" class="panel p-2">
                <div class="divider" data-content="CONTENT"></div>
                <div v-if="init && first" class="toast toast-primary text-center" id="toast">
                    This might be slow for the first time, will be much faster the next time.
                </div>
                <center><img v-if="init && !ready" style="width: 15%; margin-top: 0" src="static/Typing-1s-200px.gif"/></center>
                <ul style="list-style-type: none">
                    <li v-if="ready && cuiInfo != null" v-for="item in cuiInfo">
                        <button class="accordion-ac" v-bind:id="item.id" v-on:click="togglePanel(item.id)"><strong>[[ item.id ]]. [[ item.diagnosis ]]</strong><span v-if="item.unchecked != 0" class="label label-warning float-right" style="width: 4%; text-align: center">[[ item.unchecked ]]</span><span v-if="item.unchecked === 0" class="label label-success float-right" style="text-align: center">FINISHED</span></button>
                        <div class="panel-ac" v-bind:id="item.id">
                            <ul style="list-style-type: none">
                                <li v-for="c in item.cuis">
                                    Preferred Term: <a v-bind:href="c.url" target="_blank">[[ c.pref_term ]]</a><br>
                                    <span class="span-sm">CUI: [[ c.cui ]]</span><br>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Acceptable" v-model="c.rel" v-on:click="updateStatus()"><i class="form-icon"></i> Acceptable
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Partial" v-model="c.rel" v-on:click="updateStatus()"><i class="form-icon"></i> Partial
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Poor" v-model="c.rel" v-on:click="updateStatus()"><i class="form-icon"></i> Poor
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Incorrect" v-model="c.rel" v-on:click="updateStatus()"><i class="form-icon"></i> Incorrect
                                    </label>
                                    <div class="divider"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <button v-if="ready" style="margin-top: 1%" class="btn btn-primary" id="save" v-on:click="saveResult">
                    <i class="icon icon-check"></i> FINISH
                </button>
                <div class="modal" id="finish">
                    <a href="#/" class="modal-overlay" aria-label="Close"></a>
                    <div class="modal-container">
                        <div class="modal-body">
                            <div class="content" style="vertical-align: middle">
                                <div class="text-bold text-center">
                                    <h2>All Works Are Saved</h2>
                                    <h2>Thank You For Your Efforts<h2>
                                </div><br>
                                <div class="text-center text-bold">
                                    You May Close The Window Now
                                </div><br>
                                <img class="img-responsive img-fit-cover" style="width: 50%; height: 50%; margin: auto" src="static/ty.jpg"/>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="static/vue.js"></script>
        <script type="text/javascript" src="static/lodash.min.js"></script>
        <!--suppress JSUnusedGlobalSymbols -->
        <script>
            var vm = new Vue({
                delimiters: ["[[", "]]"],
                el: "#app",
                data: {
                    cuiInfo: null,
                    ready: false,
                    init: false,
                    username: null,
                    userId: null,
                    finished: false,
                    first: false,
                },
                methods: {
                    updateStatus: _.debounce(function () {
                        let self = this;
                        var cuiInfo = self.cuiInfo;
                        for (var i = 0; i < cuiInfo.length; i++) {
                            var cuis = cuiInfo[i]["cuis"];
                            var unchecked = cuis.length;
                            for (var k = 0; k < cuis.length; k++) {
                                if (cuis[k]["rel"] != null) {
                                    unchecked--;
                                }
                            }
                            cuiInfo[i]["unchecked"] = unchecked;
                        }
                        self.cuiInfo = cuiInfo;
                        self.updateProgress();
                    }, 250, {'maxWait': 1000}),
                    closeOnKey: function (e) {
                        if (e.keyCode === 13) {
                            e.preventDefault();
                            document.getElementById("modalCloseBtn").click();
                        }
                    },
                    closeModal: function () {
                        let self = this;
                        if (self.username == null) {
                            alert("Username Required");
                        } else {
                            var modal = document.getElementById("user");
                            modal.classList.remove("active");
                        }
                        self.getUserId();
                    },
                    togglePanel: function (id) {
                        var otherPanels = document.getElementsByClassName("panel-ac");
                        for (var i = 0; i < otherPanels.length; i++) {
                            if (otherPanels[i].id != id.toString()) {
                                otherPanels[i].style.maxHeight = null;
                            }
                        }
                        var acc = document.getElementById(id);
                        var panel = acc.nextElementSibling;
                        acc.classList.toggle("active-ac");
                        if (panel.style.maxHeight) {
                          panel.style.maxHeight = null;
                        } else {
                          panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    },
                    parseFile: async function () {
                        let self = this;
                        self.first = true;
                        var url = "http://localhost:6688/assess/parse";
                        var res = await axios.get(url)
                        .then(response => {
                            if (response.status == 200) {
                                self.cuiInfo = response.data;
                                self.first = false;
                                return response;
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                        return res.data;
                    },
                    saveResult: function () {
                        let self = this;
                        for (index in self.cuiInfo) {
                            for (i in self.cuiInfo[index].cuis) {
                                if (self.cuiInfo[index].cuis[i].rel == null) {
                                    alert("Need To Finish All Term Judgement Before Save.")
                                    return;
                                }
                            }
                        }
                        self.finished = true;
                        self.updateProgress();
                        var finishModal = document.getElementById("finish");
                        finishModal.classList.add("active");
                    },
                    getUserId: function () {
                        let self = this;
                        self.init = true;
                        self.ready = false;
                        var url = "http://localhost:6688/assess/userid?u=" + self.username;
                        axios.get(url)
                        .then(response => {
                            if (response.status == 200) {
                                var content = response.data;
                                if (content["user_id"] == null) {
                                    self.parseFile()
                                    .then(res => self.createProgress(res, self.username));
                                } else {
                                    self.userId = content["user_id"];
                                    self.getProgress(self.userId, self.username);
                                }
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });

                    },
                    getProgress: function (userid, username) {
                        let self = this;
                        var url = "http://localhost:6688/assess/progress/get?u=" + username + "&uid=" + userid;
                        axios.get(url)
                        .then(response => {
                            if (response.status == 200) {
                                var content = response.data;
                                var source = content["hits"]["hits"][0]["_source"];
                                self.finished = source["finished"];
                                if (source["progress"] == null) {
                                    self.createProgress(self.username);
                                    self.ready = true;
                                } else {
                                    var progress = JSON.parse(source["progress"]);
                                    self.cuiInfo = progress;
                                    self.ready = true;
                                }
                            }
                        })
                        .catch(error => {
                           console.log(error);
                        });
                    },
                    createProgress: function (res, username) {
                        let self = this;
                        var url = "http://localhost:6688/assess/progress/create?u=" + username;
                        var data = {
                            "user": username,
                            "progress": JSON.stringify(res),
                            "finished": false
                        }
                        axios.post(url, data)
                        .then(response => {
                            if (response.status == 201 && response.data["result"] == "created") {
                                var content = response.data;
                                self.userId = content["_id"];
                                self.ready = true;
                            } else {
                                self.createProgress(username);
                            }
                        })
                        .catch(error => {
                           console.log(error);
                        });
                    },
                    updateProgress: function () {
                        let self = this;
                        var url = "http://localhost:6688/assess/progress/update?uid=" + self.userId;
                        var data = {
                            "user": self.username,
                            "progress": JSON.stringify(self.cuiInfo),
                            "finished": self.finished
                        }
                        axios.post(url, data)
                        .then(response => {
                            if (response.status == 200 && response.data["result"] == "updated") {
                                console.log("Progress Updated");
                            }
                        })
                        .catch(error => {
                           console.log(error);
                        });
                    }
                },
                mounted: function () {
                        var modal = document.getElementById("user");
                        if (modal.classList.contains("active")) {
                            var input = modal.getElementsByTagName("input")[0];
                            input.focus();
                        }
                    }
            })
        </script>
    </body>
</html>