<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <title>Clinical Code Assessment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="static/favicon.png" type="image/x-png">
        <link rel="stylesheet" href="static/spectre.min.css" type="text/css">
        <link rel="stylesheet" href="static/spectre-icons.min.css" type="text/css">
        <link rel="stylesheet" href="static/spectre-exp.min.css" type="text/css">
        <link rel="stylesheet" href="/static/vis.min.css" type="text/css">
        <link rel="stylesheet" href="static/vue-multiselect.min.css" type="text/css">
        <link rel="stylesheet" href="static/logtail.css" type="text/css">
        <link rel="stylesheet" href="static/clinicalcodeassessment.css" type="text/css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="static/vue.js" type="text/javascript"></script>
        <script src="static/lodash.min.js" type="text/javascript"></script>
        <style>
            /* Thanks to https://www.w3schools.com/howto/howto_js_accordion.asp */
            .accordion-ac {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }

            .active-ac, .accordion-ac:hover {
                background-color: #ccc;
            }

            .accordion-ac:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active-ac:after {
                content: "\2212";
            }

            .panel-ac {
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            .span-sm {
                font-size: 10px;
                line-height: 0.0rem;
            }
        </style>
    </head>
    <body>
        <div class="container p-2" id="app">
            <div class="panel p-2" style="overflow:hidden;">
                <h2 style="margin-left: 2%; margin-top: 1%">Clinical Code Assessment</h2>
                <div class="divider" data-content="FILE UPLOAD"></div>
                <div class="form-group">
                    <div class="col-3">
                        <label class="form-label" for="input-example-1">
                            <strong>Select The CSV File To Upload:</strong>
                        </label>
                    </div>
                    <div class="divider"></div>
                    <div class="col-3">
                        <input class="form-input" type="file" id="file-input" ref="file" name="file" v-on:change="handleFileUpload()"/>
                    </div>
                    <div class="divider"></div>
                    <div id="msgbox">
                        <span id="msg"></span>
                    </div>
                    <button style="margin-top: 1%" v-if="!uploaded" class="btn btn-primary" id="upload-file" v-on:click="uploadFile()">
                        <i class="icon icon-upload"></i> Upload
                    </button>
                    <button style="margin-top: 1%" v-if="uploaded" class="btn btn-primary" id="parse-file" v-on:click="parseFile()">
                        <i class="icon icon-menu"></i> Parse
                    </button>
                    <button style="margin-top: 1%" name="reset" class="btn" v-on:click="reset">
                        <i class="icon icon-refresh"></i> Reset
                    </button>
                </div>
            </div>
            <div v-if="init" class="panel p-2">
                <center><img v-if="init && !ready" style="width: 15%; margin-top: 0" src="static/Typing-1s-200px.gif"/></center>
                <ul style="list-style-type: none">
                    <li v-if="ready && cuiInfo != null" v-for="item in cuiInfo">
                        <button class="accordion-ac" v-bind:id="item.id" v-on:click="togglePanel(item.id)">[[ item.id ]]. [[ item.diagnosis ]]</button>
                        <div class="panel-ac" v-bind:id="item.id">
                            <ul style="list-style-type: none">
                                <li v-for="c in item.cuis">
                                    Preferred Term: <a v-bind:href="c.url" target="_blank">[[ c.pref_term ]]</a><br>
                                    <span class="span-sm">CUI: [[ c.cui ]]</span><br>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Acceptable" v-model="c.rel"><i class="form-icon"></i> Acceptable
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Partial" v-model="c.rel"><i class="form-icon"></i> Partial
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Poor" v-model="c.rel"><i class="form-icon"></i> Poor
                                    </label>
                                    <label class="form-radio form-inline">
                                        <input type="radio" value="Incorrect" v-model="c.rel"><i class="form-icon"></i> Incorrect
                                    </label>
                                    <div class="divider"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <button v-if="ready" style="margin-top: 1%" class="btn btn-primary" id="save" v-on:click="saveResult">
                    <i class="icon icon-download"></i> Save
                </button>
                <link id="download"/>
            </div>
        </div>
        <!--suppress JSUnusedGlobalSymbols -->
        <script>
            var vm = new Vue({
                delimiters: ["[[", "]]"],
                el: "#app",
                data: {
                    file: null,
                    uploaded: false,
                    error: false,
                    cuiInfo: null,
                    ready: false,
                    init: false,
                },
                methods: {
                    togglePanel: function (id) {
                        var otherPanels = document.getElementsByClassName("panel-ac");
                        for (var i = 0; i < otherPanels.length; i++) {
                            if (otherPanels[i].id != id.toString()) {
                                otherPanels[i].style.maxHeight = null;
                            }
                        }
                        var acc = document.getElementById(id);
                        var panel = acc.nextElementSibling;
                        acc.classList.toggle("active-ac");
                        if (panel.style.maxHeight) {
                          panel.style.maxHeight = null;
                        } else {
                          panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    },
                    handleFileUpload: function () {
                        let self = this;
                        self.uploaded = false;
                        if (self.$refs.file.files.length == 0) {
                            alert("csv File is Required.");
                            return;
                        }
                        self.file = self.$refs.file.files[0];
                        var filename = self.file.name;
                        var fileType = filename.split(".")[1];
                        if (fileType != "csv") {
                            alert("File Type Not Supported, Need csv File.");
                            location.reload();
                            return;
                        }
                    },
                    uploadFile: function () {
                        let self = this;
                        document.getElementById("msg").classList = [];
                        document.getElementById("msg").innerText = null;
                        document.getElementById("file-input").disabled = false;
                        var formData =  new FormData();
                        formData.append("file", self.file);
                        axios.post("http://localhost:6688/assess/upload", formData)
                        .then(response => {
                            if (response.status == 201) {
                                var msg = response.data["message"];
                                document.getElementById("msg").innerText = msg;
                                self.uploaded = true;
                                document.getElementById("msg").classList.add("label");
                                document.getElementById("msg").classList.add("label-success");
                                document.getElementById("file-input").disabled = true;
                            } else {
                                var msg = response.data["message"];
                                document.getElementById("msg").innerText = msg;
                                self.uploaded = false;
                                document.getElementById("msg").classList.add("label");
                                document.getElementById("msg").classList.add("label-warning");
                            }
                        })
                        .catch(error => {
                            document.getElementById("msg").innerText = error;
                            document.getElementById("msg").classList.add("label");
                            document.getElementById("msg").classList.add("label-error");
                            self.uploaded = false;
                        });
                    },
                    parseFile: function () {
                        let self = this;
                        self.init = true;
                        var parseBtn = document.getElementById("parse-file");
                        parseBtn.classList.add("loading");
                        parseBtn.disabled = true;
                        self.ready = false;
                        var request = new XMLHttpRequest();
                        request.addEventListener("load", function (ev) {
                            if (ev.currentTarget.status == 200) {
                                self.ready = true;
                                var resStr = ev.currentTarget.responseText;
                                var res = JSON.parse(resStr);
                                self.cuiInfo = res;
                                parseBtn.classList.remove("loading");
                            }
                        });
                        request.open("GET", "http://localhost:6688/assess/info?pretty");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        request.send(null);
                    },
                    reset: function () {
                        var request = new XMLHttpRequest();
                        request.addEventListener("load", function (ev) {
                            if (ev.currentTarget.status == 200) {
                                console.log("RESETED!");
                                location.reload();
                            } else {
                                document.getElementById("msg").innerText = "RESET FAILED";
                                document.getElementById("msg").classList.add("label");
                                document.getElementById("msg").classList.add("label-error");
                            }
                        });
                        request.open("POST", "http://localhost:6688/assess/reset");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
                        request.setRequestHeader("Connection", "keep-alive")
                        request.send(null);
                    },
                    saveResult: function () {
                        let self = this;
                        for (index in self.cuiInfo) {
                            for (i in self.cuiInfo[index].cuis) {
                                if (self.cuiInfo[index].cuis[i].rel == null) {
                                    alert("Need To Finish All Term Judgement Before Save.")
                                    return;
                                }
                            }
                        }
                        var data, filename, link;
                        var csv = self.convertToCSV({
                            data: self.cuiInfo
                        });
                        if (csv == null) {
                            document.getElementById("msg").innerText = "No CSV File Generated.";
                            document.getElementById("msg").classList.add("label");
                            document.getElementById("msg").classList.add("label-error");
                            return null;
                        }
                        filename = 'export.csv';
                        if (!csv.match(/^data:text\/csv/i)) {
                            csv = 'data:text/csv;charset=utf-8,' + csv;
                        }
                        data = encodeURI(csv);
                        link = document.getElementById("download");
                        link.setAttribute('href', data);
                        link.setAttribute('download', filename);
                        link.click();
                    },
                    convertToCSV: function (args) {
                        var data;
                        data = args.data || null;
                        if (data == null || !data.length) {
                            document.getElementById("msg").innerText = "Formating Error.";
                            document.getElementById("msg").classList.add("label");
                            document.getElementById("msg").classList.add("label-error");
                            return null;
                        }
                        columnDelimiter = ',';
                        lineDelimiter = '\n';
                        var keys = ["uid", "id", "diagnosis", "cui", "pref_term", "rel"];
                        var result;
                        result = '';
                        result += keys.join(columnDelimiter);
                        result += lineDelimiter;
                        var uid = 1;
                        for (var i = 0; i < data.length; i++) {
                            var prefixLine = data[i]["id"] + columnDelimiter + data[i]["diagnosis"];
                            for (var k = 0; k < data[i]["cuis"].length; k++) {
                                var latterLine = uid + columnDelimiter + prefixLine + columnDelimiter + data[i]["cuis"][k]["cui"] + columnDelimiter + data[i]["cuis"][k]["pref_term"] + columnDelimiter + data[i]["cuis"][k]["rel"] + lineDelimiter;
                                uid++;
                                result += latterLine;
                            }

                        }
                        return result;
                    }
                }
            })
        </script>
    </body>
</html>